.login-body {
    background-color: #CEDDE2;
}

.container-login-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100vh;
    justify-content: center;
    align-items: center;
}  

.container-login-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 475px;
    width: 450px;
    background-color: #ffffff;
    border-radius: 30px;
}

.container-login-3{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-login {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.login-icons{
    display: flex;
    position: absolute;
    margin-left: 20px;
    margin-top: 61px;
    z-index: 1;
}

.container-correo{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.correo-texto{
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
}

.correo-caja{
    display: flex;
    position: relative;
    align-items: center;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    padding-left: 50px;
    background-color: #ffffff;
}

.border-red-login {
    border-color: #ff0000;
}

.bg-custom-color {
    background-color: transparent;
}
  
.custom-alert {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    margin-top: 3px;
    padding: 5px;
}
  
.custom-alert span {
    color: #ff0000;
    font-size: 14px;
    margin-left: 5px
}

.custom-alert-icon {
    color: #ff0000;
    font-size: 14px;
    margin-left: 5px
}

.container-contrasena{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
}

.contrasena-texto{
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-size: 20px;
}

.ojo-contrasena{
    display: flex;
    position: relative;
    align-items: center;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    padding-left: 50px;
    background-color: #ffffff;
}

.ojo-contrasena-2{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    bottom: 0;
    right: 0;
    height: 50%;
    padding-right: 15px;
}

.login-container-final{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 45%;
}

.cambiar-contrasena-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 30%;
}

.cambiar-contrasena-container button.btn {
    color: #000000;
    font-size: 12px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.iniciar-sesion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.iniciar-sesion-container button.btn {
    color: #000000;
    font-size: 20px;
    background-color: #A0C1BF;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
}

.iniciar-sesion-container button.btn:hover {
    color: #ffffff;
    background-color: #186279;
}

.registrarse-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 30%;
}

.register-texto-login{
    margin-top: 20px;
    font-size: 15px;
}

.registrarse-container button.btn {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
    text-decoration: underline;
}

.registrarse-container button.btn:hover {
    color: #186279;
}

.evertech-login img {
    width: 350px;
    margin-top: 30px;
    object-fit: contain;
} 

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.pop-up-3 {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.pop-up-3 button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: #000;
    background-color: #A0C1BF;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.pop-up-3 button:hover{
    background-color: #699AA0;
}