.imagesize {
    width: 600px;
    height: 200px;
    
    max-width: 100%;
    max-height:100%;
}

.cardsize {
    padding: 1rem; /* Or any other desired padding value */
    overflow: hidden;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Or any other desired shadow value */
}

.titles {
    font-weight: bold;
    font-size: larger;
}

.color {
    background-color: #D9D9D9;
}

/* Container search bar e iniciativas */
.ea-searchBar {
  display:flex;
  width: 100%;
}

.ea-searchBarCaja {
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  border-color: #000000;
  border-style: solid;
  background-color: #CEDDE2;
  padding-left: 45px;
}

.ea-icons{
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
.ea-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.ea-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}


/* INICIATIVAS */

.ea-iniciativas-container {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  overflow: overlay;
}

.ea-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #212529;
  border-radius: 6px;
  border:rgba(0, 0, 0, 0.176) 1.2px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  position: relative;
  max-width: 240px;
}

.ea-iniciativa:hover {
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}

.ea-iniciativa-imagen img {
  width: 236.9px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.ea-iniciativa-texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  align-items: center;
}

.ea-titulo {
  font-size: 19.2px;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}

.ea-desc {
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  text-align: justify;
}

.ea-boton {
  display: flex;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.btn-eliminar-tarjeta-1 {
  background-color: #A0C1BF;
  color: #000;
  font-weight: 600;
  border: none;
  align-items: flex-end;
}

.btn-eliminar-tarjeta-1:hover {
  background-color: #699AA0;
  color: #000;
}

.btn-eliminar-tarjeta-1:first-child:active {
  background-color: #699AA0;
  color: #000;
}

.btn-eliminar-tarjeta-1:disabled {
  background-color: #699AA0;
  color: #000;
}

/* Modal eliminar iniciativas */
.fade.ea-modal.modal.show {
  display: flex !important;
  align-items: center;
}

.ea-modal .modal-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.ea-modal-body {
  padding: 16px;
  font-family: "Inter", sans-serif;
}

.ea-modal .modal-header,
.ea-modal .modal-footer {
  border: none;
  padding: 0;
}

.ea-modal .modal-footer {
  width: 100%;
  justify-content: space-evenly;
}

.ea-modal .modal-header .btn-close {
  position: absolute;
  right: 5%;
}

.ea-modal-title {
  font-weight: 600;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.ea-modal .btn.btn-primary {
  color: #000;
  background-color: #A0C1BF;
  padding: 10px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}

.ea-modal .btn.btn-primary:hover {
  background-color: #699AA0;
}

.ea-modal .eliminar.btn.btn-primary {
  background-color: #f09e9e;
  
}

.ea-modal .eliminar.btn.btn-primary:hover {
  background-color: rgb(224, 99, 99);
}