rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /Usuarios/{documents} {
      allow update: if isLoggedIn() && request.auth.uid == documents; //solo editar los datos de tu mismo usuario
      allow read, create: if isLoggedIn();
    }
    
    match /General/{documents} {
      allow read, update: if isLoggedIn();
    }
    
    match /Iniciativas/{documents} {
      allow read, update, delete, create: if isLoggedIn();
    }
    
    match /Usuarios/{documents=**} {
      allow read, update, create: if isLoggedIn();
    }
    
    match /General/{documents=**} {
      allow read, update: if isLoggedIn();
    }
    
    match /Iniciativas/{documents=**} {
      allow read, update, create: if isLoggedIn();
    }
    
    // User ir authenticated
    function isLoggedIn(){
     return request.auth != null;
    }
    
  }
}