/* Boton cerrar sersión */
.perfil-logout {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
  
.p-fa-gear {
    font-size: 25px;
    margin-right: 5px;
}

.perfil-logout button {
    color: #000000;
    font-size: 16px;
    background-color: #A0C1BF;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
}

.perfil-logout button:hover {
    color: #ffffff;
    background-color: #186279;
}

.btn-salir-sesion {
    background-color: #f09e9e !important;
}

.btn-salir-sesion:hover {
    background-color: rgb(224, 99, 99) !important;
}



.fade.p-modal.modal.show {
    display: flex !important;
    align-items: center;
}
  
.p-modal .modal-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
  
.p-modal-body {
    padding: 16px;
    font-family: "Inter", sans-serif;
}
  
  .p-modal .modal-header,
  .p-modal .modal-footer {
    border: none;
    padding: 0;
  }
  
  .p-modal .modal-footer {
    width: 100%;
    justify-content: space-evenly;
  }
  
  .p-modal .modal-header .btn-close {
    position: absolute;
    right: 5%;
  }
  
  .p-modal-title {
    font-weight: 600;
    font-size: 30px;
    font-family: "Inter", sans-serif;
  }
  
  .p-modal .btn.btn-primary {
    color: #000;
    background-color: #A0C1BF;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
  }
  
  .p-modal .btn.btn-primary:hover {
    background-color: #699AA0;
  }
  
  .p-modal .btn.btn-primary a {
    color: #000;
  }
  