.password-info-container2 {
    position: relative; 
}
  
.password-info-popover2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: -230px;
    left: -150px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}  

.fa-info-icon2 {
    margin-top: 10px;
    margin-right: 50px;
}

.password-info-styles2 h2 {
    font-size: 20px;
    font-weight: bold;
}

.password-info-styles2 p {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 5px;
}

.password-info-styles2 li {
    text-align: left;
}