.password-info-container2 {
  position: relative; 
}

.password-info-popover2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: -660%;
  left: -200%;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: default;
}

.fa-info-icon2 {
  margin-top: 15px;
  margin-right: 50px;
}

.password-info-styles2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-info-styles2 h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.password-info-styles2 p {
  display: flex;
  align-items: flex-start;
  text-align: justify;
  margin: 10px 0px 10px 0px !important;
  font-size: 14px;
}

.password-info-styles2 li {
  text-align: left;
  font-size: 14px;
}