.m-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.m-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.m-iniciativas-titulo {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.m-iniciativas-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: overlay;
}

.m-iniciativas-container::-webkit-scrollbar {
  display: none;
}

.m-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  color: #212529;
  border-radius: 20px;
  border: #A0C1BF 4px solid;
  min-width: 200px;
  max-width: 200px;
  position: relative;
}

.m-iniciativa:hover {
  border: #000 4px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}

.m-iniciativa-imagen img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 200px;
  max-width: 100%;
  height: 130px;
  object-fit: cover;
}

.m-iniciativa-texto {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  height: 100%;
  padding: 15px;
}

.m-iniciativa-contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-bottom: 15px;
}

.m-corazon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
  padding: 15px;
  padding-top: 0px;
}

.m-titulo {
  font-size: 15px;
  font-weight: bold;
  word-break: break-word;
  color: #212529;
}

.m-desc {
  font-size: 16px;
  font-weight: 600;
  word-break: break-word;
  text-align: justify;
  color: #212529;
}

.m-error {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  color: #7d7d7d;
  margin-top: 20px;
  margin-bottom: 20px;
}