h1 {
    font-size: 50px;
}

.separador {
    height:50px;
    width: 1000px;
    float: left;
    max-width: 100%;
    max-height:100%;
}

.cuadro {
    height: 300px;
    width: 300px;
    background-color: #D9D9D9;
    border-radius: 25px;
    float: left;
    margin: 10px;
}

.cuadro2 {
    height: 27px;
    width: 280px;
    font-size: 15px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.imagen {
    background-color: #699AA0;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 75px;
    float: left;
}

.cuadro3 {
    height: 80px;
    width: 280px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}