.f-flecha-register-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    height: 270px;
}

.f-flechas {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

.f-flecha-register-container-start {
    padding: 10px;
    display: flex;
    position: absolute;
    left: 0;
}

.f-flecha-register-container-start button.btn {
    color: #6b6b6b;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.f-flecha-register-container-start button.btn:hover {
    color: #000000;
}

.f-flecha-register-container-end {
    padding: 10px;
    display: flex;
    position: absolute;
    right: 0;
}

.f-flecha-register-container-end button.btn {
    color: #6b6b6b;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.f-flecha-register-container-end button.btn:hover {
    color: #000000;
}