/* Pagina general */
.rq-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.rq-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

/* Titulo de las secciones */
.rq-iniciativas-titulo {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

/* Error */
.rq-error {
  font-size: 20px;
  font-weight: 600;
  color: #7d7d7d;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Iniciativas */
.rq-iniciativas-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: overlay;
}

.rq-iniciativas-container::-webkit-scrollbar {
  display: none;
}

.rq-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  border: 2px #e8e8e8 solid;
  box-shadow: #e8e8e8 2px 4px 0px 0px;
  cursor: pointer;
}

.rq-iniciativa:hover {
  border: 2px #b6b6b6 solid;
  box-shadow: #b6b6b6 2px 4px 0px 0px;
}

/* Creador de la iniciativa */
.rq-iniciativa-admin {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-weight: 600;
}

.rq-iniciativa-admin img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.rq-nombre-admin {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #212529;
}

/* Imagen general iniciativa */
.rq-iniciativa-imagen img {
  width: 200px;
  max-width: 100%;
  height: 110px;
  object-fit: cover;
}

/* Contenido iniciativa */
.rq-iniciativa-texto {
  width: 100%;
  height: 100%;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.rq-titulo {
  font-size: 13px;
  font-weight: bold;
  word-break: break-word;
}

/* Botones de abajo */
.rq-estado {
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.rq-botones-2 {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 600;
}

/* Iconos */
.fa-1 {
  color: green;
  margin-left: 8px;
}

.fa-2 {
  color: #ff0000;
  margin-left: 8px;
}

.fa-3 {
  color: rgb(176, 176, 0);
  margin-left: 8px;
}

.fa-4 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
}

.fa-5 {
  font-size: 20px;
}

.fa-5-button {
  background-color: transparent;
  padding: 0px;
}