.rq-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.rq-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.rq-iniciativas-titulo {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.rq-iniciativas-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: overlay;
}

.rq-iniciativas-container::-webkit-scrollbar {
  display: none;
}

.rq-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: #A0C1BF 4px solid;
  min-width: 200px;
  max-width: 200px;
}

.rq-iniciativa:hover {
  border: #000 4px solid;
  box-shadow: (0, 0 , 0, 0.15) 0px 4px 4px 0px;
}

.rq-estado {
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.rq-botones-2 {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 600;
}

.fa-1 {
  color: green;
  margin-left: 8px;
}

.fa-2 {
  color: #ff0000;
  margin-left: 8px;
}

.fa-3 {
  color: rgb(176, 176, 0);
  margin-left: 8px;
}

.fa-4 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 22px;
}

.fa-5 {
  font-size: 25px;
}

.fa-5-button {
  background-color: transparent;
  padding: 0px;
}

.rq-iniciativa-imagen img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 200px;
  max-width: 100%;
  height: 130px;
  object-fit: cover;
}

.rq-iniciativa-texto {
  width: 100%;
  height: 100%;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.rq-titulo {
  font-size: 15px;
  font-weight: bold;
  word-break: break-word;
}

.rq-error {
  font-size: 20px;
  font-weight: 600;
  color: #7d7d7d;
  margin-top: 20px;
  margin-bottom: 20px;
}