.rq-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.rq-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.rq-iniciativas-titulo {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.rq-iniciativas-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: overlay;
}

.rq-iniciativas-container::-webkit-scrollbar {
  display: none;
}

.rq-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px;
  margin-left: 5px;
  border-radius: 30px;
  border:rgba(0, 0, 0, 0.176) 1.2px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  max-width: 240px;
  overflow: hidden;
}

.rq-estado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 20px;
  margin-left: 5px;
  border-radius: 30px;
  border:rgba(0, 0, 0, 0.176) 1.2px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
  max-width: 240px;
  overflow: hidden;
  padding: 5px;
}

.fa-1 {
  color: green;
  margin-left: 8px;
}

.fa-2 {
  color: #ff0000;
  margin-left: 8px;
}

.fa-3 {
  color: rgb(176, 176, 0);
  margin-left: 8px;
}

.rq-iniciativa:hover {
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}

.rq-iniciativa-imagen img {
  width: 236.9px;
  height: 200px;
  object-fit: cover;
}

.rq-iniciativa-texto {
  width: 100%;
  padding: 16px;
}

.rq-titulo {
  font-size: 19.2px;
  font-weight: bold;
  word-break: break-all;
}

.rq-error {
  font-size: 20px;
  font-weight: 600;
  color: #7d7d7d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rq-iniciativa-imagen img {
  width: 236.9px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}