.c-container {
  display: flex;
  width: 1000px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.c-iniciativa-container {
  display: flex;
  width: 100%;
}

/* Imagen de la iniciativa */
.c-foto-iniciativa {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 255px;
  width: 255px;
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 50%;
  float: left;
}

.c-foto-iniciativa:hover {
  background-color: #000;
}

.c-preview-imagen {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-foto-iniciativa:hover .c-preview-imagen {
  transition: opacity 0.3s ease;
  opacity: 0.5;
}

.c-editar-foto {
  opacity: 0;
  position: absolute;
  font-size: 40px;
  color: white;
}

.c-foto-iniciativa:hover .c-editar-foto {
  transition: opacity 0.3s ease;
  opacity: 1;
}

/* Información */
.c-info-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Título */
.c-titulo {
  display: flex;
  font-size: 70px;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  align-items: center;
}

.c-titulo-texto-tarea {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-titulo-input {
  display: flex;
  overflow: overlay;
}

.c-titulo-input::-webkit-scrollbar {
  display: none;
}

.c-titulo-input-texto {
  width: 100%;
  font-size: 70px;
  font-weight: 600;
  outline: none;
  border: none;
}

.c-titulo-conteo {
  font-size: 20px;
  font-weight: 600;
  color: #A0C1BF;
  margin-left: 0px;
  margin-top: -45px;
  margin-left: 15px;
}

.c-btn-editar-titulo {
  position: relative;
  background: none;
  border: none;
  color: #A0C1BF;
  font-size: 20px;
  bottom: 0;
  right: 0;
}

/* Botones etiquetas */
.c-etiquetas {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

.c-etiquetas li {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-radius: 30px;
  margin: 5px;
}

li.c-etiqueta-item {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  user-select: none;
}

li.c-etiqueta-item.highlighted {
  background-color: #A0C1BF;
}

li.c-etiqueta-item:hover {
  box-shadow: 0 0 0 3px #A0C1BF;
}

/* Fila datos */
.c-datos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Fechas de inicio y cierre */
.c-calendarios-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-calendarios {
  display: flex;
  align-items: flex-start;
}

.c-calendario-input {
  height: 100%;
}

.c-calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100px;
  font-size: 25px;
  background-color: #A0C1BF;
  border-radius: 25px;
  cursor: pointer;
}

.c-calendario:hover {
  box-shadow: 0 0 0 3px #699AA0;
}

.react-datepicker__input-container-create {
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: none;
  border: 2px solid #699AA0;
  border-radius: 15px;
}

.react-datepicker-2 {
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 3px;
}

.react-datepicker-2:focus-visible {
  border: none;
  outline: none;
}

.c-calendario-separador {
  margin: 0 10px;
  font-size: 30px;
  font-weight: 600;
}

/* Dropdown privacidad y ubicación */
.c-dropdown-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-selecciona-dropdown {
  display: flex;
  align-items: center;
  position: relative;
  height: 44px;
  width: 180px;
  font-size: 16px;
  font-weight: 600;
  background-color: #A0C1BF;
  border: none;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.c-selecciona-dropdown:hover {
  box-shadow: 0 0 0 3px #699AA0;
}

.c-dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.c-dropdown {
  position: absolute;
  margin-top: 50px;
  width: 180px;
  padding: 8px 16px;
  z-index: 10;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.c-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: #4a5568;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  font-size: 14px;
}

.c-dropdown-item:hover {
  background-color: #e8e8e8;
}

/* Búsqueda dropdown */
.c-dropdown-input {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  color: #4a5568;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  outline: none;
}

.c-dropdown-input:focus,
.c-dropdown-input:hover {
  border-color: #b6b6b6;
}

/* Descripción */
.c-desc {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.c-container-conteo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.c-desc-conteo {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #121212;
  right: 0;
}

.c-desc-texto {
  position: relative;
  width: 100%;
  background-color: #A0C1BF;
  border-radius: 25px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  word-break: break-word;
}

.c-desc-texto-2 {
  position: relative;
  width: 100%;
  border-radius: 25px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #121212;
  word-break: break-word;
  margin-right: 20px;
}

.c-desc-input-texto {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  outline: none;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  word-break: break-word;
  resize: none;
}

.c-desc-input-texto::-webkit-scrollbar {
  display: none;
}

.c-desc-input-texto-2 {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  outline: none;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #121212;
  word-break: break-word;
  resize: none;
  padding-right: 20px;
}

.c-desc-input-texto-2::-webkit-scrollbar {
  display: none;
}

.c-btn-editar-desc {
  background: none;
  border: none;
  color: #121212;
  position: absolute;
  bottom: 4px;
  right: 0px;
}

/* Botones agregar tareas y miembros */
.c-tareas-miembros {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.c-seccion-tareas {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.c-seccion-miembros {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-btn-agregar-tarea,
.c-btn-invitar-miembro {
  display: flex;
  align-items: center;
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 16px;
  padding: 0px 20px;
  height: 44px;
  font-weight: 600;
  cursor: pointer;
}

/* Tareas */
.c-tareas-container {
  display: flex;
  width: 85%;
  flex-direction: column-reverse;
}

.c-tareas-container-2 {
  display: flex;
  align-items: center;
}

.c-fa-trash {
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.c-tarea {
  display: flex;
  width: 100%;
  background-color: #E2EBF1;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  align-items: flex-start;
  font-weight: 600;
  flex-direction: row;
  overflow-x: auto;
}

.c-tarea-titulo {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.c-tarea-titulo:focus-visible {
  outline: none;
}

input.c-tarea-titulo {
  background: none;
  border: none;
  padding: 0;
  font-weight: 600;
  min-width: 400px;
}

.c-tarea-texto {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 16px;
  word-break: break-word;
}

.c-tarea-desc {
  display: flex;
  width: 100%;
  word-break: break-word;
  text-align: left;
  margin-top: 10px;
}

.c-tarea-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}

.c-tarea-botones {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: space-evenly;
  flex-direction: column;
}

.c-tarea-boton {
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
}

.c-btn-editar-tarea {
  background: none;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  padding: 0;
  padding-left: 10px;
  max-width: 400px;
}

.c-btn-editar-flex {
  display: flex;
  justify-content: flex-end;
  max-width: 438px;
  background: none;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  padding: 0;
  top: 10px;
  padding-left: 10px;
}

.c-btn-editar-tarea-2 {
  position: relative;
  background: none;
  border: none;
  color: #000;
  font-size: 15px;
  padding: 0;
  top: 10px;
  left: 420px;
}

/* Crear */
.c-crear-container {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  position: relative;
}

.c-btn-crear-container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  justify-content: space-around;
}

.c-btn-crear {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  background-color: #bbb;
  border-radius: 30px;
}

.c-btn-crear:hover {
  background-color: #989898;
}

button.c-btn-crear:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Modal subir imagen */
.c-input-body {
  display: flex;
  padding: 20px;
  width: 500px;
  justify-content: center;
}

.c-drag-drop {
  display: flex;
  width: 400px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.c-drag-drop-image {
  font-size: 50px;
  color: #A0C1BF;
  margin: 10px;
  margin-bottom: 0px;
}

.c-drag-drop-text {
  margin: 10px;
}

.c-custom-file-button {
  border: 2px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 6px 12px;
  cursor: pointer;
}

.c-custom-file-button:hover {
  background-color: #d4d4d4;
}

.c-input-imagen {
  display: flex;
  width: 60%;
}

.c-custom-file-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.c-custom-file-text {
  margin-left: 10px;
}

.c-error-imagen {
  color: red;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.c-fa-ec{
  margin-right: 5px;
}

/* Modal crear iniciativas */
.fade.c-modal.modal.show {
  display: flex !important;
  align-items: center;
}

.c-modal .modal-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.c-modal-body {
  padding: 16px;
}

.c-modal .modal-header,
.c-modal .modal-footer {
  border: none;
  padding: 0;
}

.c-modal .modal-footer {
  width: 100%;
  justify-content: space-evenly;
}

.c-modal .modal-header .btn-close {
  position: absolute;
  right: 5%;
}

.c-modal-title {
  font-weight: 600;
  font-size: 30px;
}

.c-modal .btn.btn-primary {
  color: #000;
  background-color: #A0C1BF;
  padding: 10px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}

.c-modal .btn.btn-primary:hover {
  background-color: #699AA0;
}

.c-modal .btn.btn-primary a {
  color: #000;
}