.password-info-container {
  position: relative; 
}

.password-info-popover {
  display: flex;
  align-items: center;
  position: absolute;
  top: -515%;
  left: 0%;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.fa-info-icon {
  margin-top: -5px;
  margin-left: 10px;
}

.password-info-styles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-info-styles h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.password-info-styles p {
  display: flex;
  align-items: flex-start;
  text-align: justify;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
}

.password-info-styles li {
  text-align: left;
  font-size: 14px;
}