.register-body {
    background-color: #CEDDE2;
}

.container-register-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100vh;
    align-items: center;
}  

.container-register-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 475px;
    width: 450px;
    background-color: #ffffff;
    border-radius: 30px;
}

.container-register-3 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-register {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 35px
}

.register-icons {
    display: flex;
    position: absolute;
    margin-left: 20px;
    margin-top: 61px;
    z-index: 1;
}

.container-correo-register {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.correo-texto-register {
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
}

.correo-caja-register {
    display: flex;
    position: relative;
    align-items: center;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    padding-left: 50px;
    background-color: #ffffff;
}

.border-red-register {
    border-color: #ff0000 !important;
}

.bg-custom-color-register {
    background-color: transparent;
}
  
.custom-alert-register {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    margin-top: -2px;
    padding: 5px;
}
  
.custom-alert-register span {
    color: #ff0000;
    font-size: 14px;
    margin-left: 5px
}

.custom-alert-icon-register {
    color: #ff0000;
    font-size: 14px;
    margin-left: 5px
}

.container-contrasena-register {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.container-contrasena-register-2{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: baseline;
}

.contrasena-texto-register {
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-size: 20px;
}

.ojo-contrasena-register {
    display: flex;
    position: relative;
    align-items: center;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    padding-left: 50px;
    background-color: #ffffff;
}

.ojo-contrasena-2-register {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    bottom: 0;
    right: 0;
    height: 50%;
    padding-right: 15px;
}

.flecha-register-container{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 25%;
    align-items: center
}

.flecha-register-container-start{
    padding: 10px;
    display: flex;
    position: absolute;
    left: 0;
}

.flecha-register-container-end{
    padding: 10px;
    display: flex;
    position: absolute;
    right: 0;
}

.flecha-register-container button.btn {
    color: #6b6b6b;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.flecha-register-container button.btn:hover {
    color: #000000;
}

.pop-up-register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.pop-up-3-register {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.pop-up-3-register button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: #000;
    background-color: #A0C1BF;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.pop-up-3-register button:hover {
    background-color: #699AA0;
}

.politicas-contenedor{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: baseline;
    margin-top: 5px;
}

.politicas-contenedor p {
    font-size: 10px;
    color: #000;
    font-weight: 500;
    padding-right: 3px;
}

.politicas-contenedor button {
    text-decoration: underline;
}

.politicas-contenedor button:hover{
    color: #186279;
}