/* Página general */
body::-webkit-scrollbar {
  display: none;
}

.e-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.e-seccion-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

/* Barra de búsqueda */
.e-searchBar {
  display: flex;
  position: relative;
  width: 100%;
}

.e-icons {
  display: flex;
  position: absolute;
  margin-left: 20px;
  height: 100%;
}

.e-searchBarCaja {
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  border: #000000 4px solid;
  padding-left: 45px;
}

.e-searchBarCaja:focus-visible {
  outline: none;
}

/* Iniciativas */
.e-iniciativas-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: overlay;
}

.e-iniciativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: #212529;
  border-radius: 20px;
  border: #A0C1BF 4px solid;
  position: relative;
  max-width: 240px;
}

.e-iniciativa:hover {
  border: #000 4px solid;
}

.e-iniciativa-admin {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-weight: 600;
}

.e-iniciativa-admin img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.e-iniciativa-imagen img {
  width: 236.9px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.e-iniciativa-contenido {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.e-corazon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
}

.e-titulo {
  font-size: 19.2px;
  font-weight: bold;
  word-break: break-word;
}

.e-desc {
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  text-align: justify;
}