.side-navbar {
    z-index: 10;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    padding-top: 70px;
    transition: width 0.5s cubic-bezier(0, 0, 0.2, 1);
    flex-direction: column;
    background-color: #ffffff;
    border-right: 7px solid #CEDDE2;
}
  
.side-navbar.open {
    width: 260px;
}
  
.side-navbar li {
    margin-bottom: 40px;
    list-style-type: none;
}

.side-navbar.open li {
    text-align: left;
    padding-left: 10px;
}
  
.side-navbar li a {
    position: relative;
    color: #A0C1BF;
    padding: 15px;
    font-size: 22px;
}

.side-navbar li.selected a {
    color: #000000;
}

.side-navbar li:hover a {
    color: #000000; 
}

.side-navbar li:hover .rq-notifs {
    background-color: #000;
    color: #fff;
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}

.rq-notifs,
.rq-notifs-selected {
    position: absolute;
    display: flex;
    background-color: #A0C1BF;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    top: 10px;
    left: 28px;
}

.rq-notifs-selected {
    background-color: #000;
    color: #fff;
}