.side-navbar {
    z-index: 1;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    padding-top: 90px; 
    transition: width 0.5s ease;
    flex-direction: column;
    background-color: #ffffff;
    border-right: 7px solid #CEDDE2;
}
  
.side-navbar.open {
    width: 190px;
}
  
.side-navbar li {
    margin-bottom: 30px;
    list-style-type: none;
}

.side-navbar.open li {
    text-align: left;
}
  
.side-navbar li a {
    color: #A0C1BF;
    padding: 15px;
    font-size: 18px;
}

.side-navbar li.selected a {
    color: #000000;
}

.side-navbar li:hover a {
    color: #000000; 
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}