/* ShowText.css */
.tooltip-container-show {
  position: relative;
  width: 700px;
  display: inline-block;
}
  
.tooltip-show {
  position: absolute;
  top: -20px; 
  left: 500px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: 999;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
