.i-container {
  display: flex;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.i-iniciativa-container {
  display: flex;
  width: 100%;
}

/* Botón para editar */
.i-fa-pen {
  position: absolute;
  display: flex;
  padding: 0px; 
  background: none;
  border: none;
  cursor: pointer;
  color: #A0C1BF;
  font-size: 30px;
  top: 20px;
  right: 210px;
}

.i-fa-pen:hover{
  color: #000;
}

button.i-fa-pen:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.i-fa-pen-2 {
  position: absolute;
  display: flex;
  padding: 0px; 
  margin-left: 100px;
  margin-top: -20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #A0C1BF;
  font-size: 20px;
}

.i-fa-pen-2:hover{
  color: #000;
}

/* Imagen de la iniciativa */
.i-foto-iniciativa {
  height: 255px;
  width: 255px;
  margin: 15px;
  margin-bottom: 0px;
  /*background-color: #699AA0;*/
  border-radius: 50%;
  float: left;
  object-fit: cover;
}
  
/* Información */
.i-info-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
/* Título */
.i-titulo {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 70px;
  font-weight: 600;
  text-align: left;

}

.i-titulo-normal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.i-titulo-texto {
  display: flex;
}

.i-titulo-texto::-webkit-scrollbar {
  display: none;
}

.i-edit-titulo-box {
  outline: none;
  border: none;
  font-weight: 600;
  width: 600px;
}

.i-titulo-conteo {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: #A0C1BF;
  margin-right: auto;
  margin-top: 0px;
  margin-left: 170px;
  padding-left: 500px;
}

.i-descripcion-conteo {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  word-break: break-all;
  color: #000;
  margin-right: 0px;
}

/* Etiquetas */
.i-etiquetas {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

.i-etiquetas li {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-radius: 30px;
  margin: 5px;
}

li.i-etiqueta-item {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

/* Fila datos */
.i-datos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Fechas de inicio y cierre */
.i-calendarios-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.i-calendarios {
  display: flex;
  align-items: flex-start;
}

.i-calendario-container {
  height: 100%;
}

.i-calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100px;
  font-size: 25px;
  background-color: #A0C1BF;
  border-radius: 25px;
}

.i-calendario-separador {
  margin: 0 10px;
  font-size: 30px;
  font-weight: 600;
}
  
.i-fecha {
  font-weight: 600;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
}

/* Privacidad y Ubicación */
.i-dato-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.i-dato {
  display: flex;
  align-items: center;
  height: 44px;
  width: 180px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #A0C1BF;
  border: none;
  border-radius: 25px;
}

/* Fila */
.i-desc {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Barra de progreso */
.i-progreso-texto {
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}

.progress-bar-container {
  width: 100%;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
}
  
.progress-bar {
  height: 100%;
  height: 25px;
  background-color: #A8BDC4;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
}

/* Descripción */
.i-desc-texto {
  margin-top: 20px;
  width: 100%;
  background-color: #A0C1BF;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 50px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  word-break: break-word;
}

/* Tareas y Miembros */
.i-tareas-miembros {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.i-seccion-miembros {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-seccion-1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.i-guardar {
  display: flex;
  justify-content: center;
}

.i-btn-guardar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  background-color: #bbb;
  border-radius: 30px;
}

.i-btn-guardar:hover {
  background-color: #989898;
}

button.i-btn-guardar:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.i-btn-ver-miembros {
  display: flex;
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 17px;
  padding: 10px 25px;
  font-weight: 600;
}

/* Tareas */
.i-titulo-tareas {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.i-tarea-botones {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: space-evenly;
  flex-direction: column;
}


.i-tarea-boton {
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #212529;
  padding: 5px 10px;
  text-align: center;
}

.i-tarea-boton:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.react-datepicker-2 {
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 3px;
}

/* Miembros */
.i-tipo-miembro {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.i-agregar-miembros {
  margin-left: 5px;
  font-size: 25px;
  cursor: pointer;
}

.i-btn-miembro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E2EBF1;
  width: 200px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin: 10px 0px 10px 0px;
  padding: 10px 15px 10px 15px;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.i-btn-miembro-contenido {
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.i-icon-estilos {
  display: flex;
  justify-content: flex-end;
}

.i-icon-times-circle {
  color: #000; 
  font-size: 20px;
  cursor: pointer;
}

.i-btn-ver-solicitudes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: #A0C1BF; 
  border: none; 
  padding: 10px 20px; 
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.i-btn-ver-solicitudes:hover {
  background-color: #699AA0;
}

.i-notifs {
  display: flex;
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  top: 8px;
  left: 46px;
}

/* Modal Solicitudes */
.i-botones-solicitud {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.i-btn-solicitud {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  width: 110px;
  height: 50px;
  border-radius: 20px;
}


/*TAREAS MARTHA*/

.i-seccion-tareas {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.i-tareas-container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}


.i-tareas-container-2 {
  display: flex;
  align-items: center;
}

.i-tarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  background-color: #E2EBF1;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  font-weight: 600;
}

.i-tarea-titulo {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  overflow: overlay;
  max-width: 400px;
  text-align: left;
}

.i-tarea-titulo::-webkit-scrollbar {
  display: none;
}

.i-tarea-titulo:focus-visible {
  outline: none;
}

input.i-tarea-titulo {
  background: #E2EBF1;
  border: none;
  padding: 0;
  font-weight: 600;
  min-width: 400px;
}

.i-tarea-texto {
  display: flex;
}

.i-edit-tarea-box {
  background: transparent;
  font-weight: 600;
  border: none;
  overflow: none;
}

.i-edit-tarea-box:focus-visible {
  outline: none;
}

.i-desc-input-texto-2 {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  outline: none;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #121212;
  word-break: break-word;
  resize: none;
  padding-right: 20px;
}

.i-tarea-desc {
  display: flex;
  width: 100%;
  word-break: break-word;
  text-align: left;
  margin-top: 10px;
}

.i-desc-texto-2 {
  position: relative;
  width: 100%;
  border-radius: 25px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #121212;
  word-break: break-word;
  margin-right: 20px;
}

.i-tarea-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}


.i-edit-titulo-box {
  outline: none;
  border: none;
  font-weight: 600;
  width: 600px;
}

.i-tarea-conteo {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: #A0C1BF;
  margin-right: auto;
  margin-top: 0px;
  margin-left: 170px;
  padding-left: 500px;
}

.cuadro {
  height: 150px;
  width: 250px;
  background-color: #D9D9D9;
  border-radius: 25px;

  margin: 5px;
}

.cuadro2 {
  height: 27px;
  width: 200px;
  font-size: 15px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}

.imagen {
  background-color: #699AA0;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: 10px;
  align-items: center;
}

.cuadro3 {
  height: 70px;
  width: 250px;
  font-size: 14px;
  float: left;
  margin-top: 5px;
  text-align: center;
}

/* Modal Generico*/
.i-modal-guardar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.i-modal .modal-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.fade.i-modal.modal.show {
  display: flex !important;
  align-items: center;
}

.i-input-body {
  display: flex;
  padding: 20px;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.i-modal .modal-header{
  border: none;
  padding: 0;
}

.i-modal .modal-footer {
  width: 100%;
  justify-content: space-evenly;
}


.i-modal .modal-header .btn-close {
  position: absolute;
  right: 5%;
}

.i-modal-title {
  font-weight: 600;
  font-size: 30px;
}

.i-modal .btn.btn-primary {
  color: #000;
  background-color: #A0C1BF;
  padding: 10px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}

.i-modal .btn.btn-primary:hover {
  background-color: #699AA0;
}

.i-modal .btn.btn-primary a {
  color: #000;
}



/* Modal Documento*/
.i-modal-doc-guardar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.i-modal-doc .modal-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  min-width: 500px;
}

.fade.i-modal-doc.modal.show {
  display: flex !important;
  align-items: center;
}

.i-doc-body {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 500px;
  height: 500px;
}

.i-modal-doc .modal-header{
  border: none;
  padding: 0;
}

.i-modal-doc .modal-footer {
  width: 100%;
  justify-content: space-evenly;
}


.i-modal .modal-header .btn-close {
  position: absolute;
  right: 5%;
}

.i-modal-doc-title {
  font-weight: 600;
  font-size: 30px;
}

.i-modal-doc .btn.btn-primary {
  color: #000;
  background-color: #A0C1BF;
  padding: 10px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}

.i-modal-doc .btn.btn-primary:hover {
  background-color: #699AA0;
}

.i-modal-doc .btn.btn-primary a {
  color: #000;
}

/* Agregar usuario modal */
.i-modal-lista-usuarios {
  max-height: 500px;
  max-width: 100% !important;
  overflow: overlay;
}

.i-modal-lista-usuarios::-webkit-scrollbar {
  display: none;
}

.i-invitar-usuarios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.i-informacion-usuarios {
  display: flex;
  flex-direction: row;
}

.i-informacion-usuarios img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.i-informacion-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-btn-container {
  display: flex;
  align-items: center;
}

/* Modal Miembros*/
.i-modal-miembro {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.i-miembro-perfil {
  display: flex;
  align-items: center;
}

.i-miembro-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.i-miembro-nombre {
  font-size: 28px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: justify;
  margin-bottom: 10px;
}

.i-miembro-habilidades {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0px 10px 10px;
}

.i-miembro-datos {
  display: flex;
  flex-direction: column;
}

/* Agregar usuario modal */
.i-invitar-usuarios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.i-informacion-usuarios {
  display: flex;
  flex-direction: row;
}

.i-informacion-usuarios img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.i-informacion-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-btn-container {
  display: flex;
  align-items: center;
}

.i-invitar-usuarios-boton {
  width: 120px;
  height: 42px;
  border-radius: 30px;
  background-color: #A0C1BF;
  border: none;
  color: #000;
  font-weight: 600;
}

.i-invitar-usuarios-boton:active,
.i-invitar-usuarios-boton:focus-visible,
.i-invitar-usuarios-boton:hover {
  background-color: #699AA0 !important;
  color: #000 !important;
  border: none !important;
  box-shadow: 0px;
}

.i-invitar-usuarios-boton:disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A0C1BF;
  opacity: 0.6;
  pointer-events: none;
}

.i-linea-container {
  display: flex;
  flex-direction: column;
}

/* Agregar usuario modal */
.i-nav {
  display: flex;
  justify-content: space-evenly;
}

.i-nav button {
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
}

.i-nav button.paginaActual {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}

.i-error-modal {
  font-size: 18px;
  font-weight: 600;
  color: #7d7d7d;
}

.i-columna-pe {
  display: flex;
  flex-direction: column;
}

.i-etiquetas-2 {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

.i-etiquetas-2 li {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 0px 15px;
  border-radius: 30px;
  margin: 5px;
}

li.i-etiqueta-item-2 {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

.i-invitar-usuarios-boton-2 {
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: #000;
}

.i-invitar-usuarios-boton-2:active,
.i-invitar-usuarios-boton-2:focus-visible,
.i-invitar-usuarios-boton-2:hover {
  background-color: transparent !important;
  color: #000 !important;
  border: none !important;
  box-shadow: 0px;
}

.i-invitar-usuarios-boton-2:disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 0.6;
  pointer-events: none;
}

.i-modal-lista-usuarios {
  min-width: 585px;
  max-width: 585px;
  min-height: 500px;
  max-height: 500px;
  overflow: overlay;
}

.i-modal-lista-usuarios::-webkit-scrollbar {
  display: none;
}

/* Isa estilos */
.i-edit-tarea {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.i-edit-tarea button {
  color: #000;
}

.i-edit-tarea-2 button {
  color: #000;
  font-size: 20px;
  background: transparent;
  padding: 0px;
}

.i-edit-tarea button:hover,
.i-edit-tarea-2 button:hover {
  color: #A0C1BF;
}

.i-row-tarea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.i-edit-tarea-2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.i-input-titulo-tarea {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  outline: none;
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  color: #121212;
  word-break: break-word;
  resize: none;
  padding-right: 20px; 
}