.i-container {
  display: flex;
  width: 1000px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.i-iniciativa-container {
  display: flex;
  width: 100%;
}

/* Imagen de la iniciativa */
.i-foto-iniciativa {
  height: 255px;
  width: 255px;
  margin: 15px;
  margin-bottom: 0px;
  background-color: #699AA0;
  border-radius: 50%;
  float: left;
  object-fit: cover;
}
  
/* Información */
.i-info-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
/* Título */
.i-titulo {
  display: flex;
  font-size: 70px;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  align-items: center;
}

.i-titulo-texto {
  display: flex;
  overflow: overlay;
}

.i-titulo-texto::-webkit-scrollbar {
  display: none;
}

/* Etiquetas */
.i-etiquetas {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

.i-etiquetas li {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-radius: 30px;
  margin: 5px;
}

li.i-etiqueta-item {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

/* Fila datos */
.i-datos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Fechas de inicio y cierre */
.i-calendarios-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.i-calendarios {
  display: flex;
  align-items: flex-start;
}

.i-calendario-container {
  height: 100%;
}

.i-calendario {
  display: flex;
  width: 100px;
  font-size: 25px;
  background-color: #A0C1BF;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}

.i-icono-calendario {
  width: 50px;
  height: 50px;
}

.i-calendario-separador {
  margin: 0 10px;
  font-size: 30px;
  font-weight: 600;
}
  
.i-fecha {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
}

/* Privacidad y Ubicación */
.i-dato-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.i-dato {
  width: 180px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  background-color: #A0C1BF;
  border: none;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Fila */
.i-desc {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Barra de progreso */
.i-progreso-texto {
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}

.progress-bar-container {
  width: 100%;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
}
  
.progress-bar {
  height: 100%;
  height: 25px;
  background-color: #A8BDC4;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
}

/* Descripción */
.i-desc-texto {
  margin-top: 20px;
  width: 100%;
  background-color: #A0C1BF;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 50px;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  word-break: break-word;
}

/* Tareas y Miembros */
.i-tareas-miembros {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.i-seccion-tareas {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.i-seccion-miembros {
  position: relative;
  width: 20%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;

}

.i-btn-ver-miembros {
  display: flex;
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 17px;
  padding: 10px 25px;
  font-weight: 600;
}

/* Tareas */


.i-titulo-tareas {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}


.i-tarea-botones {
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: space-around;
  flex-direction: column;
}

.i-tarea-boton {
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}



/* Miembros */
.i-tipo-miembro {
  font-size: 20px;
  font-weight: 600;
}

.i-btn-miembro {
  width: 100%;
  background-color: #E2EBF1;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 30px;
  position: relative;
  text-align: center;
}

.i-tarea-boton {
  background-color: #A0C1BF;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}



.i-btn-miembro:hover {
  background-color: #E2EBF1;
}

.i-icono-elimina-miembro {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-60%);
  padding-left: 10px;
}

.i-icon-times-circle {
  color: rgba(0, 0, 0, 0.5); 
  font-size: 20px;
}

.i-btn-ver-solicitudes {
  bottom: 0;
  background-color: #838F96; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  color: #000000;
  font-weight: bold; 
  transition: background-color 0.3s ease;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.i-btn-ver-solicitudes:hover {
  background-color: #6b7780;
}


/*TAREAS MARTHA*/

.i-seccion-tareas {
  width: 80%;
  align-items: flex-start;
}

.i-tareas-seccion {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.i-tareas-container {
  width: 100%;
}

.i-tarea {
  display: flex;
  min-height: 120px;
  width: 100%;
  background-color: #E2EBF1;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  align-items: flex-start;
  font-weight: 600;
  flex-direction: row;
}


.i-tarea-titulo {
  font-size: 25px;
}

input.i-tarea-titulo {
  background: none;
  border: none;
  padding: 0;
}

.i-tarea-texto {
  font-size: 14px;
  width: 100%;
}

.i-tarea-desc {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  word-break: break-word;
  text-align: left;
}

.i-tarea-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.i-tarea-texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}


.cuadro {
  height: 150px;
  width: 250px;
  background-color: #D9D9D9;
  border-radius: 25px;

  margin: 5px;
}

.cuadro2 {
  height: 27px;
  width: 200px;
  font-size: 15px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}

.imagen {
  background-color: #699AA0;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: 10px;
  align-items: center;
}

.cuadro3 {
  height: 70px;
  width: 250px;
  font-size: 14px;
  float: left;
  margin-top: 5px;
  text-align: center;
}

